@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap");
:root {
  --green-blue: #4d96a9;
  --dark-purple: #855fb1;
  --black: #28283d;
  --grey: #87879d;
  --blue-green: #8fe3f9;
  --light-purple: #d9b8ff;
  --white: #fafafa;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--white);
  color: var(--grey);
  font-weight: medium;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .text-container-hero {
    width: 55%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .text-container-hero {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .text-container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .text-container {
    width: 48%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .text-container-footer {
    width: 75%;
    margin: 0 auto;
  }
}

.btn {
  padding: 1.5em 3em;
  border: none;
  border-radius: 100px;
  display: block;
  margin: 1em auto;
  background-color: var(--dark-purple);
  color: var(--white);
  font-weight: 900;
  z-index: 10;
  cursor: pointer;
}

.btn:hover {
  opacity: 70%;
}

.btn span {
  color: var(--light-purple);
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    margin: 0 0.5em;
  }
}

.download-btn {
  background-color: var(--green-blue);
}

.download-btn span {
  color: var(--blue-green);
}

.logo {
  margin: 3em auto;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 10em;
}

p {
  margin: 2em 0;
}

.hero {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image-hero-left image-hero-right" "main-hero main-hero";
}

.hero .image-hero-tablet {
  display: none;
}

@media (min-width: 768px) {
  .hero {
        grid-template-areas: "image-hero-tablet" "main-hero";
  }
  .hero .image-hero-left {
    display: none;
  }
  .hero .image-hero-right {
    display: none;
  }
  .hero .image-hero-tablet {
    display: inline-block;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .hero {
        grid-template-areas: "image-hero-left main-hero image-hero-right";
  }
  .hero .image-hero-tablet {
    display: none;
  }
  .hero .image-hero-left {
    display: inline-block;
    justify-self: flex-end;
  }
  .hero .image-hero-right {
    display: inline-block;
  }
}

.hero .image-hero {
  padding: 0 0.5em;
}

.hero .image-hero-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image-hero-left;
}

.hero .image-hero-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image-hero-right;
}

.hero .main-hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main-hero;
}

.main-heading {
  color: var(--black);
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
}

@media (min-width: 1440px) {
  .main-heading {
    font-size: 3.8rem;
  }
}

.pre-heading {
  text-transform: uppercase;
  color: var(--green-blue);
  font-weight: 900;
  letter-spacing: 3px;
  margin-top: 4em;
}

.heading {
  font-size: 2rem;
}

.smarter-heading {
  color: var(--black);
}

@media (min-width: 768px) {
  .smarter-heading {
    width: 60%;
    margin: 0 auto;
  }
}

.line-container {
  position: relative;
}

.vl {
  border-left: 1px solid var(--grey);
  height: 84px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: -100px;
  padding-top: 100px;
}

.number {
  width: 56px;
  height: 56px;
  padding: 1em;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 2em;
  font-weight: 900;
}

.images {
  display: -ms-grid;
  display: grid;
  gap: 1em;
      grid-template-areas: "pic-1 pic-2" "pic-3 pic-4";
  margin-top: 4em;
}

.images .image {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .images {
        grid-template-areas: "pic-1 pic-2 pic-3 pic-4";
  }
}

footer {
  background: url(/assets/mobile/image-footer.jpg);
  background-position: center;
  background-size: cover;
  color: var(--white);
  position: relative;
}

footer p {
  font-size: 1.125rem;
}

footer .number {
  color: var(--grey);
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .overlay {
  padding: 4em 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(77, 150, 168, 0.9);
}

@media (min-width: 768px) {
  footer {
    background-image: url(/assets/tablet/image-footer.jpg);
  }
}

@media (min-width: 1440px) {
  footer {
    background-image: url(/assets/desktop/image-footer.jpg);
  }
}

@media (min-width: 1440px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .footer-flex .heading {
    width: 25%;
  }
  .footer-flex p {
    width: 32%;
  }
}
/*# sourceMappingURL=style.css.map */